In [12]:
import streamlit as st
import pandas as pd
import plotly.express as px
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import numpy as np

In [3]:
data_import = pd.read_csv("MPG_data.csv")
data_import.head()

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Country of Origin,Index (Model Type Index),Eng Displ,# Cyl,Transmission,...,Fuel Metering Sys Desc,Fuel Cell Vehicle (Y or N),Camless Valvetrain (Y or N),Oil Viscosity,Stop/Start System (Engine Management System) Code,Stop/Start System (Engine Management System) Description,MFR Calculated Gas Guzzler MPG,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2021,Honda,Acura,NSX,HNX,Japan,39,3.5,6,Auto(AM-S9),...,Spark Ignition direct & ported injection,N,N,0W-40,Y,Yes,29.5,420,406,420
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,United Kingdom,5,4.0,8,Manual(M7),...,Multipoint/sequential fuel injection,N,N,0W40,Y,Yes,27.0,636,426,541
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,United Kingdom,4,4.0,8,Auto(S8),...,Multipoint/sequential fuel injection,N,N,0W40,N,No,27.0,494,364,435
3,2021,Volkswagen Group of,Audi,R8,VGA,Germany,5,5.2,10,Auto(AM-S7),...,Spark Ignition direct & ported injection,N,N,0W30 VW50400 / VW50700,N,No,19.4,663,450,567
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,Germany,7,5.2,10,Auto(AM-S7),...,Spark Ignition direct & ported injection,N,N,0W30 VW50400 / VW50700,N,No,20.2,645,386,528

In [6]:
numerical_colunms_list = []
categorical_columns_list = []

for i in data_import.columns:
    if data_import[i].dtype == np.dtype("float64") or data_import[i].dtype == np.dtype("int64"):
        numerical_colunms_list.append(data_import[i])
    else:
        categorical_columns_list.append(data_import[i])

In [7]:
numerical_data = pd.concat(numerical_colunms_list, axis=1)
numerical_data.head()

,Model Year,Index (Model Type Index),Eng Displ,# Cyl,City FE (Guide) - Conventional Fuel,Hwy FE (Guide) - Conventional Fuel,Comb FE (Guide) - Conventional Fuel,City Unadj FE - Conventional Fuel,Hwy Unadj FE - Conventional Fuel,Comb Unadj FE - Conventional Fuel,...,Max Ethanol % - Gasoline,Annual Fuel1 Cost - Conventional Fuel,EPA Calculated Annual Fuel Cost - Conventional Fuel ----- Annual fuel cost error. Please revise Verify.,Intake Valves Per Cyl,Exhaust Valves Per Cyl,Carline Class,MFR Calculated Gas Guzzler MPG,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2021,39,3.5,6,21,22,21,28.7000,30.2000,29.3561,...,10.0,2300,2300,2,2,1,29.5,420,406,420
1,2021,5,4.0,8,14,21,17,17.3588,29.2584,21.2475,...,10.0,2850,2850,2,2,1,27.0,636,426,541
2,2021,4,4.0,8,18,24,20,22.5379,34.2945,26.6489,...,10.0,2450,2450,2,2,1,27.0,494,364,435
3,2021,5,5.2,10,13,20,16,15.8765,26.0378,19.2586,...,15.0,3050,3050,2,2,1,19.4,663,450,567
4,2021,7,5.2,10,14,23,17,15.8768,29.6317,20.0690,...,15.0,2850,2850,2,2,1,20.2,645,386,528

In [8]:
categorical_data = pd.concat(categorical_columns_list, axis=1)
categorical_data.head()

,Mfr Name,Division,Carline,Verify Mfr Cd,Country of Origin,Transmission,Guzzler?,Air Aspir Method,Air Aspiration Method Desc,Trans,...,Var Valve Timing?,Var Valve Timing Desc,Var Valve Lift?,Fuel Metering Sys Cd,Fuel Metering Sys Desc,Fuel Cell Vehicle (Y or N),Camless Valvetrain (Y or N),Oil Viscosity,Stop/Start System (Engine Management System) Code,Stop/Start System (Engine Management System) Description
0,Honda,Acura,NSX,HNX,Japan,Auto(AM-S9),NaN,TC,Turbocharged,AMS,...,Y,Variable Timing control (VTC) system is applied.,N,GDPI,Spark Ignition direct & ported injection,N,N,0W-40,Y,Yes
1,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,United Kingdom,Manual(M7),NaN,TC,Turbocharged,M,...,Y,Inlet and Exhaust Cam Phasing,N,MFI,Multipoint/sequential fuel injection,N,N,0W40,Y,Yes
2,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,United Kingdom,Auto(S8),NaN,TC,Turbocharged,SA,...,Y,Inlet and Exhaust Cam Phasing,N,MFI,Multipoint/sequential fuel injection,N,N,0W40,N,No
3,Volkswagen Group of,Audi,R8,VGA,Germany,Auto(AM-S7),G,NaN,Naturally Aspirated,AMS,...,Y,Continuously Variable Timing,N,GDPI,Spark Ignition direct & ported injection,N,N,0W30 VW50400 / VW50700,N,No
4,Volkswagen Group of,Audi,R8 2WD,VGA,Germany,Auto(AM-S7),G,NaN,Naturally Aspirated,AMS,...,Y,Continuously Variable Timing,N,GDPI,Spark Ignition direct & ported injection,N,N,0W30 VW50400 / VW50700,N,No

In [9]:
numerical_data.apply(lambda x: x.fillna(np.mean(x)))

,Model Year,Index (Model Type Index),Eng Displ,# Cyl,City FE (Guide) - Conventional Fuel,Hwy FE (Guide) - Conventional Fuel,Comb FE (Guide) - Conventional Fuel,City Unadj FE - Conventional Fuel,Hwy Unadj FE - Conventional Fuel,Comb Unadj FE - Conventional Fuel,...,Max Ethanol % - Gasoline,Annual Fuel1 Cost - Conventional Fuel,EPA Calculated Annual Fuel Cost - Conventional Fuel ----- Annual fuel cost error. Please revise Verify.,Intake Valves Per Cyl,Exhaust Valves Per Cyl,Carline Class,MFR Calculated Gas Guzzler MPG,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2021,39,3.5,6,21,22,21,28.7000,30.2000,29.3561,...,10.0,2300,2300,2,2,1,29.500000,420,406,420
1,2021,5,4.0,8,14,21,17,17.3588,29.2584,21.2475,...,10.0,2850,2850,2,2,1,27.000000,636,426,541
2,2021,4,4.0,8,18,24,20,22.5379,34.2945,26.6489,...,10.0,2450,2450,2,2,1,27.000000,494,364,435
3,2021,5,5.2,10,13,20,16,15.8765,26.0378,19.2586,...,15.0,3050,3050,2,2,1,19.400000,663,450,567
4,2021,7,5.2,10,14,23,17,15.8768,29.6317,20.0690,...,15.0,2850,2850,2,2,1,20.200000,645,386,528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,2021,6,5.7,8,13,17,14,15.4498,24.5499,18.5428,...,15.0,2900,2900,2,2,33,33.017611,698,520,618
1104,2021,34,5.7,8,13,17,14,15.6114,23.2890,18.3308,...,15.0,2900,2900,2,2,33,33.017611,697,521,618
1105,2021,1,3.6,6,16,22,18,20.0000,30.0000,23.5294,...,15.0,2250,2250,2,2,33,33.017611,547,409,485
1106,2021,52,2.0,4,19,28,22,24.4000,39.5000,29.4695,...,10.0,2200,2200,2,2,33,33.017611,456,318,394
1107,2021,53,2.0,4,20,28,23,25.9000,40.0000,30.7829,...,10.0,2100,2100,2,2,33,33.017611,433,314,380

In [15]:
mod_numerical_data = numerical_data.dropna(axis=1)
mod_numerical_data.head()

,Model Year,Index (Model Type Index),Eng Displ,# Cyl,City FE (Guide) - Conventional Fuel,Hwy FE (Guide) - Conventional Fuel,Comb FE (Guide) - Conventional Fuel,City Unadj FE - Conventional Fuel,Hwy Unadj FE - Conventional Fuel,Comb Unadj FE - Conventional Fuel,...,Comb Unrd Adj FE - Conventional Fuel,# Gears,Annual Fuel1 Cost - Conventional Fuel,EPA Calculated Annual Fuel Cost - Conventional Fuel ----- Annual fuel cost error. Please revise Verify.,Intake Valves Per Cyl,Exhaust Valves Per Cyl,Carline Class,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2021,39,3.5,6,21,22,21,28.7000,30.2000,29.3561,...,21.0000,9,2300,2300,2,2,1,420,406,420
1,2021,5,4.0,8,14,21,17,17.3588,29.2584,21.2475,...,16.5693,7,2850,2850,2,2,1,636,426,541
2,2021,4,4.0,8,18,24,20,22.5379,34.2945,26.6489,...,20.4155,8,2450,2450,2,2,1,494,364,435
3,2021,5,5.2,10,13,20,16,15.8765,26.0378,19.2586,...,15.5977,7,3050,3050,2,2,1,663,450,567
4,2021,7,5.2,10,14,23,17,15.8768,29.6317,20.0690,...,16.7281,7,2850,2850,2,2,1,645,386,528

In [16]:
mod_numerical_data.isnull().sum()

Model Year                                                                                                   0
Index (Model Type Index)                                                                                     0
Eng Displ                                                                                                    0
# Cyl                                                                                                        0
City FE (Guide) - Conventional Fuel                                                                          0
Hwy FE (Guide) - Conventional Fuel                                                                           0
Comb FE (Guide) - Conventional Fuel                                                                          0
City Unadj FE - Conventional Fuel                                                                            0
Hwy Unadj FE - Conventional Fuel                                                                             0
Comb Unadj FE - Conventional Fuel                                                                            0
City Unrd Adj FE - Conventional Fuel                                                                         0
Hwy Unrd Adj FE - Conventional Fuel                                                                          0
Comb Unrd Adj FE - Conventional Fuel                                                                         0
# Gears                                                                                                      0
Annual Fuel1 Cost - Conventional Fuel                                                                        0
EPA Calculated Annual Fuel Cost - Conventional Fuel -----  Annual fuel cost error. Please revise Verify.     0
Intake Valves Per Cyl                                                                                        0
Exhaust Valves Per Cyl                                                                                       0
Carline Class                                                                                                0
City CO2 Rounded Adjusted                                                                                    0
Hwy CO2 Rounded Adjusted                                                                                     0
Comb CO2 Rounded Adjusted (as shown on FE Label)                                                             0
dtype: int64

In [17]:
scaler = StandardScaler()

scaled_values = scaler.fit_transform(mod_numerical_data)
scaled_values

array([[ 0.        , -0.81210009,  0.28071518, ..., -0.32816308,
         0.79475551,  0.11354292],
       [ 0.        , -0.93740291,  0.65455222, ...,  1.40841794,
         1.04960722,  1.2946782 ],
       [ 0.        , -0.94108829,  0.65455222, ...,  0.26677672,
         0.25956693,  0.25996464],
       ...,
       [ 0.        , -0.95214442,  0.35548259, ...,  0.69288224,
         0.83298327,  0.74803708],
       [ 0.        , -0.76419019, -0.84079595, ..., -0.03873291,
        -0.326592  , -0.14025475],
       [ 0.        , -0.76050482, -0.84079595, ..., -0.22364663,
        -0.37756235, -0.27691503]])

In [19]:
pca = PCA()

pca_data = pca.fit_transform(scaled_values)

pca_data = pd.DataFrame(pca_data)
pca_data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-1.165535,-0.774355,0.883301,-0.481503,0.454640,0.008457,0.965348,1.451273,-0.464335,-0.195476,...,-0.216722,0.049227,-0.021296,5.415969e-07,-0.041049,0.019403,-0.008411,-1.779478e-16,-7.892368e-18,0.0
1,-4.016949,-1.000309,2.069421,0.130042,-0.236586,-0.238987,0.154470,0.090842,0.173972,0.234579,...,0.035066,-0.055605,-0.021172,1.315087e-02,-0.007136,0.012810,-0.000541,-2.387499e-17,2.665452e-17,0.0
2,-1.791567,-0.656081,1.675742,-0.411211,0.429762,0.050107,-0.273047,0.499261,-0.432133,0.207821,...,0.011522,0.022326,0.064835,1.646324e-02,-0.001312,-0.003761,0.000070,-1.123271e-16,-8.294974e-17,-0.0
3,-5.189947,-0.782154,2.614372,0.532528,0.270215,0.101549,-0.375306,0.327785,-0.013150,0.229199,...,0.016151,-0.053020,-0.044952,-2.849818e-03,0.027110,0.003908,0.003325,-1.853088e-16,-1.252905e-17,-0.0
4,-4.203379,-0.645448,2.575915,0.154767,0.338231,0.145882,-1.014154,-0.024759,-0.114460,0.215605,...,0.096672,0.036672,-0.022895,-7.680356e-03,-0.003894,0.016152,-0.004594,3.989669e-17,-8.578776e-19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,-5.945756,-1.121204,0.477434,1.670797,1.081812,-0.956427,-0.133726,0.297984,0.801281,-0.539787,...,-0.004709,0.067235,0.011659,-2.700178e-02,-0.018743,-0.002083,-0.002381,-8.027565e-17,-9.353525e-18,-0.0
1104,-5.863530,-0.905745,0.756296,2.299813,0.343879,-1.145224,-0.326792,0.288065,0.706128,-0.558027,...,-0.039415,0.056569,0.030746,-2.175483e-02,-0.017262,-0.001476,0.002724,-8.344531e-17,-1.941894e-17,-0.0
1105,-2.575692,-1.220868,-0.471343,0.713948,0.547512,-1.363923,-0.191258,0.213225,0.307083,-0.080151,...,-0.064891,0.023908,-0.010027,-3.476182e-02,0.020672,-0.005292,0.000429,-2.616478e-18,2.384141e-18,-0.0
1106,0.170857,-1.143722,-0.915351,0.164362,0.286978,-1.227897,0.243972,-0.948952,-0.182607,0.015750,...,-0.055916,0.019780,0.020005,-1.446469e-02,0.043502,0.011480,-0.009332,-1.777003e-17,-5.877153e-18,0.0
1107,0.595406,-1.033095,-0.969689,0.199776,0.369854,-1.185308,0.229492,-0.745564,-0.227102,0.019484,...,-0.034830,-0.015080,0.031461,1.736975e-02,0.037556,0.006130,-0.004262,2.985628e-17,1.071170e-17,0.0

In [26]:
new_column_names = ["PCA_"+str(i) for i in range(1, len(pca_data.columns)+1)]

In [27]:
list(pca_data.columns)
column_mapper = dict(zip(list(pca_data.columns), new_column_names))

In [30]:
# Chaning colunms names 
pca_data = pca_data.rename(columns=column_mapper)
pca_data.head()

,PCA_1,PCA_2,PCA_3,PCA_4,PCA_5,PCA_6,PCA_7,PCA_8,PCA_9,PCA_10,...,PCA_13,PCA_14,PCA_15,PCA_16,PCA_17,PCA_18,PCA_19,PCA_20,PCA_21,PCA_22
0,-1.165535,-0.774355,0.883301,-0.481503,0.454640,0.008457,0.965348,1.451273,-0.464335,-0.195476,...,-0.216722,0.049227,-0.021296,5.415969e-07,-0.041049,0.019403,-0.008411,-1.779478e-16,-7.892368e-18,0.0
1,-4.016949,-1.000309,2.069421,0.130042,-0.236586,-0.238987,0.154470,0.090842,0.173972,0.234579,...,0.035066,-0.055605,-0.021172,1.315087e-02,-0.007136,0.012810,-0.000541,-2.387499e-17,2.665452e-17,0.0
2,-1.791567,-0.656081,1.675742,-0.411211,0.429762,0.050107,-0.273047,0.499261,-0.432133,0.207821,...,0.011522,0.022326,0.064835,1.646324e-02,-0.001312,-0.003761,0.000070,-1.123271e-16,-8.294974e-17,-0.0
3,-5.189947,-0.782154,2.614372,0.532528,0.270215,0.101549,-0.375306,0.327785,-0.013150,0.229199,...,0.016151,-0.053020,-0.044952,-2.849818e-03,0.027110,0.003908,0.003325,-1.853088e-16,-1.252905e-17,-0.0
4,-4.203379,-0.645448,2.575915,0.154767,0.338231,0.145882,-1.014154,-0.024759,-0.114460,0.215605,...,0.096672,0.036672,-0.022895,-7.680356e-03,-0.003894,0.016152,-0.004594,3.989669e-17,-8.578776e-19,0.0

In [32]:
output = pd.concat([data_import, pca_data], axis=1)
output.head()

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Country of Origin,Index (Model Type Index),Eng Displ,# Cyl,Transmission,...,PCA_13,PCA_14,PCA_15,PCA_16,PCA_17,PCA_18,PCA_19,PCA_20,PCA_21,PCA_22
0,2021,Honda,Acura,NSX,HNX,Japan,39,3.5,6,Auto(AM-S9),...,-0.216722,0.049227,-0.021296,5.415969e-07,-0.041049,0.019403,-0.008411,-1.779478e-16,-7.892368e-18,0.0
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,United Kingdom,5,4.0,8,Manual(M7),...,0.035066,-0.055605,-0.021172,1.315087e-02,-0.007136,0.012810,-0.000541,-2.387499e-17,2.665452e-17,0.0
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,United Kingdom,4,4.0,8,Auto(S8),...,0.011522,0.022326,0.064835,1.646324e-02,-0.001312,-0.003761,0.000070,-1.123271e-16,-8.294974e-17,-0.0
3,2021,Volkswagen Group of,Audi,R8,VGA,Germany,5,5.2,10,Auto(AM-S7),...,0.016151,-0.053020,-0.044952,-2.849818e-03,0.027110,0.003908,0.003325,-1.853088e-16,-1.252905e-17,-0.0
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,Germany,7,5.2,10,Auto(AM-S7),...,0.096672,0.036672,-0.022895,-7.680356e-03,-0.003894,0.016152,-0.004594,3.989669e-17,-8.578776e-19,0.0